{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/Port_about.jpg' %}" class="img-fluid" height=500 width=360>
  </div>
</div>
<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Alex's About 😊</h1>
    <p class="text-start">Образование:
Московский авиационный институт (национальный исследовательский университет) (МАИ)
Факультет «Радиоэлектроника, инфокоммуникации и информационная безопасность» (ФРЭЛА)
Специальность «Радиотехника»
Форма обучения Очная
Год окончания 2002

Московский техникум космического приборостроения

Факультет Радиотехника
Специальность Техник-радиотехник
Форма обучения Очная
Год окончания 1997

Трудовой стаж:

Организация ОАО "------------- завод"
Должность электро-монтер связи
Период работы 02.1997-01.2001
 Должностные обязанности:
Поддержание работоспособности телефонной сети и абонентского оборудования завода и поселка (200 номеров), обслуживание АТС.

Организация ОАО МНИИРЭ "АЛЬТАИР"
Должность техник 6 разряда
Период работы 04.2001-06.2002
 Должностные обязанности:
Оформление технической документации на радиотехнические приборы (Руководства по эксплуатации, схемы электрические функциональные, структурные, принципиальные, кабельные журналы(AutoCad, MS Office))

Организация ОАО МНИИРЭ "АЛЬТАИР"
Должность инженер
Период работы 06.2002-11.2003
 Должностные обязанности:
Разработка технической документации на радиотехнические блоки и ячейки (Руководства по эксплуатации, схемы электрические функциональные, структурные, принципиальные, кабельные журналы). Наладка (ремонт) оборудование. Сдача заказчику.

Организация ОАО МНИИРЭ "АЛЬТАИР"
Должность старший инженер
Период работы 11.2003-09.2008
 Должностные обязанности:
Ответственный за прибор в крупном радиотехническом комплексе.
2004-2005г. Модернизация и интеграция прибора в радиотехнический комплекс согласно ТЗ. Разработка и сдача документации прибора  тех. совету. Контроль изготовления. Сдача оборудования инозаказчику.
2005г. В составе тех. совета, помимо сопровождения своего прибора, планирование изготовления, разработка программы испытания,  сдача всего комплекса.
2005г.-2008г.  1) Участие в составе группы в Шеф-монтаже 1-го комплекса на объекте Инозаказчика (Китай) 5 месяцев.
2) Участие в составе группы в Шеф-монтаже 2-го комплекса на объекте Инозаказчика (Китай) 5 месяцев.
3) Ответственный сдатчик всех частей 2-го комплекса на объекте Инозаказчика (Китай) 3 месяцев.
4) Ответственный сдатчик комплексного испытания 2-го комплекса на объекте Инозаказчика (Китай) 3 месяцев.
5) Руководитель группы Российских специалистов ввода в эксплуатацию и гарантийного обслуживания 2-го комплекса на объекте Инозаказчика (Китай) 12 месяцев.
2008г. Разработка  ТЗ на разработку новых приборов в связи с модернизацией и сменой элементной базы


Организация ОАО "------------- завод"
Должность инженер КИП и А и IT
Период работы 09.2008-12.2012
 Должностные обязанности:
1) Ремонт, наладка, регулировка и обслуживание автоматики завода .
2) Ремонт и обслуживание автоматики котельной.
3) Ремонт и обслуживание видеонаблюдения.
4) Разработка, монтаж, ремонт и Администрирование Компьютерной сети (Сервер Windows Server 2008 (потом 2012), 50 рабочих мест, 12 мест 1С Бухгалтерия) и телефонии (200 абонентов)
5) с 2010 г. участие в монтаже импортного оборудования и запуск его в эксплуатацию в 2012г.
6) Ремонт, наладка, регулировка и обслуживание Газового оборудования завода (печь, сушило, вводное ГРУ, цеховые ГРУ).
Отвечал за все электронное  оборудование завода, где используется газ и напряжение меньше 220В.


Организация ОАО "------------- завод"
Должность инженер Начальник отдела АСУП
Период работы 12.2012-09.2014
Должностные обязанности:
Отвечал за обслуживание, работоспособность и наладку всей автоматики (PLC Siemens Step 7), пневматики, газового и IT оборудования полностью автоматизированного цеха по производству керамических изделий спроектированной итальянской инжиниринговой компании.
Разрабатывал планы и графики обслуживания оборудования.
Обеспечивал переналадку и модернизацию оборудования и программного обеспечения в результате чего было освоено более 30 видов новой продукции, не предусмотренных иностранным изготовителем оборудования. Был и являюсь единственным сотрудником завода, кто может изменить или модернизировать программное обеспечение производственной линии.

Организация ОАО "------------- завод"
Должность Главный инженер
Период работы 09.2014-11.2019
 Должностные обязанности:
Контролировал всю хозяйственную деятельность предприятия (территория более 25га, более 20-ти зданий и сооружений), инфраструктура: электрическая энергия (подвод 6кВ, P уст>1МВт), газ подвод (P~0,6МПа, расход 30000 норм. куб. м в сутки), вода, канализация, ливневые очистные сооружения, котельная, система отопления, карьер полезных ископаемых.
Руководил оптимизацией производственного процесса с увеличением производительности свыше 150% относительно проектной без потери качества продукции, что привело к значительному уменьшению себестоимости продукции.
Курировал всю поднадзорную деятельность организации, в том числе в сфере ПромБезопасности, охраны труда, экологии и д.р.
Был председателем во всех коммисиях по контролю и надзору за деятельностью предприятия, Промбезопасности, аттестационных комисиях.
Одновременно выполнял обязанности Начальника отдела АСУП.
Из-за форс-мажора около полугода исполнял обязанности Генерального директора.

Организация ОАО "------------- завод"
Должность инженер Начальник отдела АСУП
Период работы 11.2019-Наст. время
 Должностные обязанности:
В связи с реструктуризацией управления предприятием и упразднением должности Главный инженер, занял должность начальника АСУП.(см 2012-2014г.)

Проектировал :
- специализированные радиотехнические приборы (по получению, преобразованию, обработке данных и передачи их по спец. каналам передачи данных согласно заданным параметрам);
- проекты модернизации производственной линии завода, включая подбор технологического оборудования;
- системы автоматизации производственных процессов на рабочих местах (с 0 до ввода в эксплуатации).

Обучен по курсам промбезопасности А, Б1, Б7, подъемные устройства, электробезопасность 5 группа свыше 1000В, эксплуатация дымовых труб, охрана труда и др.

Имею большой опыт работы со следующим оборудованием:
газовые теплогенераторы, сводовые и боковые горелки, пресса, вальцы, бегуны, смесители, роботы Fanuc, системы перемещения вагонов.
PLC: Siemens 200, 300 и 400 серии, панели и мобильные панели Siemens.
Пневматика Pneumax, Camozzi, API, Festo (включая пневмоострова).
Гидравлика Aron(гидростанции, гидроцилиндры, гидродвигатели, гидрораспределители)
Преобразователи частоты: Fuji, Omron(Yaskawa), Hyunday, ABB.
Контакторы: Telemechaniq, Siemens, ABB.
Реле безопасности: Telemechaniq, Siemens.
Газовое оборудование: отечественные (РДУК, ПЗК, ПСК), Kromschroder, Siemens, Honeywell.
Двигатели(моторедукторы): Sew eurodrive, Rossi, Siemens, АИР
Датчики: Omron, Siemens, Sick, IFL, Teko.
Система регистрации данных видеографическая Интеграф (внедрение, наладка)
Телефонная станция: Siemens.

Знаю нормы автоматизации оборудования по европейским стандартам с учетом безопасности рабочего персонала (конвеера ленточные, ременные и цепные, рольфганги, элеваторы, захваты, резаки пластичных масс, вагонетки, футеровки, система перемещение вагонеток).

Курсы Simatic Step 7: Курс ST-7SYH - системный курс, Курс ST-7STOE - поиск неисправностей и ошибок, Курс ST-7PRSERV - Программирование и обслуживание.

Навыки работы IT:
Ms Windows Server 2008 (потом 2012), MS Windows 95-2010, Linux Ubuntu (Debian)  на уровне администратора;
MS Office как оператор эксперт;
AutoCad уверенный пользователь;
Siemens Simatic Step 7, WinCC flexibl уверенный пользователь(9 лет), доработка существующих программ, разработка нового функционала;
Python 3.9, написание программ c PyQT5 уверенный пользователь, Django 3.0 начальный уровень, GitHub.
Visual Basic, C - имею представление.
Работа с различными программаторами для настройки различных устройств.
Редакторы PDF(Acrobat), графики (AutoCad), фото(PhotoShop), видео(Sony Vegas), музыки (Cubase, Sound Forge).

Основные качества:
-комуникабельность;
-честность;
-порядочность;
-обучаемость;
-без вредных привычек;
-создаю рабочую атмосферу в коллективе, где все должно работать для достижения необходимого результата.

О себе:
Возраст:42 года, женат, двое детей.

Знание языков:
Английский ~A2 Pre-Intermediate
Немецкий Beginner(школа, техникум, институт)

Водительское удостоверение "С".
Тел. +7(905) 742-36-52, Александр.
Email: inzhasu@yandex.ru

</p>
  </div>
</div>


{% endblock %}
